<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Qyzmetker
      {% if title %}
      {{title}}
      {% endif %}
   </title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>

<body>

   <header class="header">

      <section class="flex">

         <a href="{{ url_for('home') }}" class="logo">Qyzmetker</a>

         <form action="search.html" method="post" class="search-form">
            <input type="text" name="search_box" required placeholder="Search courses..." maxlength="100">
            <button type="submit" class="fas fa-search"></button>
         </form>

         <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="user-btn" class="fas fa-user"></div>
            <div id="toggle-btn" class="fas fa-sun"></div>
         </div>

         <div class="profile">
            {% if current_user.is_authenticated %}
            <img src="{{url_for('static', filename='images/pic-1.jpg')}}" class="image" alt="">
            <h3 class="name">{{ current_user.first_name }} {{ current_user.last_name }}</h3>
            <a href="{{ url_for('profile') }}" class="btn">Profile</a>
            <div class="flex-btn">
               <a href="{{ url_for('logout') }}" class="option-btn">Logout</a>
            </div>
            {% else %}
            <div class="flex-btn">
               <a href="{{ url_for('login') }}" class="option-btn">Login</a>
               <a href="{{ url_for('sign_up') }}" class="option-btn">Register</a>
            </div>
            {% endif %}
         </div>

      </section>

   </header>

   <div class="side-bar">

      <div id="close-btn">
         <i class="fas fa-times"></i>
      </div>

      <div class="profile">
         {% if current_user.is_authenticated %}
            <img src="{{url_for('static', filename='images/pic-1.jpg')}}" class="image" alt="">
            <h3 class="name">{{ current_user.first_name }} {{ current_user.last_name }}</h3>
            <a href="{{ url_for('profile') }}" class="btn">Profile</a>
            <div class="flex-btn">
               <a href="{{ url_for('logout') }}" class="option-btn">Logout</a>
            </div>
            {% else %}
            <div class="flex-btn">
               <a href="{{ url_for('login') }}" class="option-btn">Login</a>
               <a href="{{ url_for('sign_up') }}" class="option-btn">Register</a>
            </div>
            {% endif %}
      </div>

      <nav class="navbar">
         <a href="{{ url_for('home') }}"><i class="fas fa-home"></i><span>Home</span></a>
         <a href="{{ url_for('about') }}"><i class="fas fa-question"></i><span>About</span></a>
         <a href="{{ url_for('courses') }}"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
         <a href="{{ url_for('contact') }}"><i class="fas fa-headset"></i><span>Contact us</span></a>
      </nav>

   </div>

   {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
         {% for category, message in messages %}
            <div class="alert">
               <div class="{{ category }}">
                  {{ message }}
               </div>
            </div>
         {% endfor %}
      {% endif %}
   {% endwith %}

   {% block content %}

   {% endblock %}

   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>